<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Felhasználó: {{post.username}} Cím: {{post.title}}
    </mat-panel-title>
    <mat-panel-description>
      Szobaszám: {{post.roomLevel}} - {{post.roomNumber}}
    </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{post.text}}</p>
    <div>
      <button class="like" mat-icon-button color="basic" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <p class="like">{{post.numberOfLikes}}</p>
    </div>
    <button *ngIf="this.authService.isAdmin" mat-raised-button color="warn" (click)="delete()">Poszt törlése</button>
    <h2 *ngIf="!!post.comments && post.comments.length != 0">
    Kommentek
    </h2>
    <mat-card *ngFor="let comment of post.comments">
    {{comment}}
    </mat-card>
    <form *ngIf="this.authService.authenticated" [formGroup]="form" class="center" (submit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput required type="text" name="text" formControlName="text">
        <input type="hidden" name="postId" value="{{post.id}}">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Komment</button>
  </form>
</mat-expansion-panel>