
<mat-toolbar color="primary">
  <button mat-icon-button color = "accent" (click) = "kutya.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>KoliApp</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="!this.authService.authenticated" mat-menu-item (click)="this.toLogin()">Bejelentkezés</button>
    <button *ngIf="!this.authService.authenticated" mat-menu-item (click)="this.toRegister()">Regisztráció</button>
    <button *ngIf="this.authService.authenticated" mat-menu-item (click)="this.toModifyPassword()">Jelszó módosítása</button>
    <button *ngIf="this.authService.authenticated" mat-menu-item (click)="this.logout()">Kijelentkezés</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container style="height: calc(100% - 64px);">
  <mat-sidenav mode="side" #kutya>
   <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
