<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage != ''">
    <strong>{{errorMessage}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="center">
    <div><h2>Regisztráció</h2></div>
    <form [formGroup]="form" (submit)="submit()">
        <div>
            <mat-form-field appearence="fill">
                <mat-label>Felhasználónév</mat-label>
                <input required matInput type="text" name="username" formControlName="username"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearence="fill">
                <mat-label>Jelszó</mat-label>
                <input required matInput type="password" name="password" formControlName="password"/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearence="fill">
                <mat-label>Jelszó újra</mat-label>
                <input required matInput type="password" name="passwordAgain" formControlName="passwordAgain"/>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="button">
            <button mat-raised-button color="primary">Regisztráció</button>
        </div>
    </form>
</div>